<br>
<br>
<br>
<div class=amwrap>
	<div id="namepic">
		<div id="amname" data-aos="fade-right">
			<p>My name is Carson Hamilton, I am a junior Web Developer</p>
		</div>
	</div>
	<div id="jobsearch">
		<div id="amjob" data-aos="fade-left">
			<p></p>	
		</div>
	</div>
	<div id="hobbypic">
		<div id="amhobby" data-aos="fade-right">
			<p></p>
		</div>
	</div>
</div>

