<br>
<br>
<br>
<div class=amwrap>
	<div id="namepic">
		<div id="amname" data-aos="fade-right">
			<p data-aos="flip-up">My name is Carson Hamilton. I am 20 years old and a Junior Web Developer looking for a job in Front End web development.</p>
	</div>
	<div id="jobsearch">
		<div id="amjob" data-aos="fade-left">
			<img id="mypic" data-aos="fade-left" src="/assets/propic.jpg"></img>
		</div>
	</div>
	</div>
	<div id="hobbypic">
		<div id="amhobby" data-aos="fade-right">
			<p data-aos="flip-up">I am very skilled with both computer hardware and software. In the last year I have built 13 computers for both work and as a hobby.</p>
		</div>
	</div>
</div>

