<br>
<br>
<br>
<div class="contactwrap">
	<div class="contactinfo">
		<h2 id="contacttitle">Interested? Send me and email!</h2>
		<div id="contactform">
			<input type="email" placeholder="Your Email" id="email">
			<br>
			<input type="text"  id="subject" placeholder="subject">
			<br>
			<textarea name="emailtext" id="emailcontent" cols="30" rows="10"></textarea>
			<br>
			<input type="submit" id="subbttn" value="Send">
		</div>
	</div>
	<div class="contactinfo">
		<div>
			<h2>Contact Me</h2>
		</div>
		<div>
			<ul>
				<li>Phone Number: 801-928-0514</li>
				<li>Email Address: Cjcham77@gmail.com</li>
				<li>Add my linked in here</li>
				<li>Add my github here</li>
			</ul>
		</div>
	</div>
</div>