<br>
<br>
<br>
<div id="eduwrap">
	<div id="nycda" data-aos="zoom-in-right">
		<div id="nycdatitle">
			<h1>New York Code + Design Academy</h1>
			<h4 class="dates">October 2016 - January 2017</h4>
		</div>
		<div id="nycdades">
			<p>I attended the New York Code + Design Academy for a three month intesive bootcamp. During this boot camp I learned the basics of web development and how to learn new programming languages.</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div id="college" data-aos="zoom-in">
		<div id="colltitle">
			<h1 id="collname">Strayer University</h1>
			<h4 class="dates">2015-current</h4>
		</div>
		<div id="colldes">
			<p>I am currently a student at Strayer University attending online classes and working towards a major in Business Management. I am expected to graduate in 2019.</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div id="highschool" data-aos="zoom-in-left"">
		<h1>Syracuse High School</h1>
		<h4 class="dates">Graduated 2015</h4>
		<p>I graduated from Syracuse High School in 2015. During my senior year I was invited to join an advanced accounting class that only 24 students in the state were asked to participate.</p>
	</div>
</div>