<br>
<br>
<br>
<div id="eduwrap">
	<div id="nycda" data-aos="flip-down">
		<div id="nycdatitle">
			<h1>New York Code + Design Academy</h1>
			<h3>October 2016 - January 2017</h3>
		</div>
		<div id="nycdades">
			<p>I attended the New York Code + Design Academy for a three month intesive bootcamp. During This boot camp I learned the basics of web development and how to learn new programming languages.</p>
		</div>
	</div>
	<br>
	<div id="college" data-aos="flip-left">
		<div id="colltitle">
			<h1 id="collname">Strayer University</h1>
			<h4 id="colldate">2015-current</h4>
		</div>
		<div id="colldes">
			<p>I am currently a student at Strayer University which is an online college. I am planning on Majoring in Business Management.</p>
		</div>
	</div>
	<br>
	<div id="highschool" data-aos="flip-up">
		<h1>Syracuse Highschool</h1>
		<h3>2015</h3>
		<p>I graduated from Syracuse High School in 2015 with a 3.0 GPA.</p>
	</div>
</div>