<br>
<br>
<br>
<div id="projects">
	<div id="finalgroup" data-aos="zoom-in-right">
		<img src="/assets/chef.jpg" id="chefpic">
	</div>
	<div id="groupblog" data-aos="zoom-in-left">
		<img src="/assets/devcoud.jpg" id="devcloudpic">
	</div>
</div>
<div id=projdes>
	<h3>These are a couple of projects that I have worked on that show my back and front end skills</h3>
</div>