<br>
<br>
<br>
<div id="projects" data-aos="zoom-in">
	<div id="finalgroup" data-aos="zoom-in-right">
		<a href="https://chefwebsite.herokuapp.com/" target="_blank"><img src="/assets/chef.jpg" id="chefpic"></a> 
	</div>
	<div id="groupblog" data-aos="zoom-in-left">
		<a href="https://developerscloud.herokuapp.com/"><img src="/assets/devcoud.jpg" id="devcloudpic"></a>
	</div>
</div>
<div id=projdes data-aos="flip-up">
	<h3 id="projectwords">These are a couple of projects that I have worked on that show my back and front end skills. Click on the pictures to take you to the webpages.</h3>
</div>