<br>
<br>
<br>
<div id="projects">
	<div id="finalgroup" data-aos="zoom-in-right">
		Photo wiht link to assignment
	</div>
	<div id="groupblog" data-aos="zoom-in-left">
		Photo with link to assignment
	</div>
</div>
<div id=projdes>
	<h3>These are a couple of projects that I have worked on that show my back and front end skills</h3>
</div>