<br>
<br> 
<br>
<div class="codexp">
	<div id="languages">
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>HTML</p></div>	
			<div class="skillword" data-aos="fade-left">
				<h4>Advanced</h4>
			</div>
			<div class="skill">
				<span style="width:90%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>CSS</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Advanced</h4>
			</div>
			<div class="skill">
				<span style="width:90%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>Bootsrap</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Beginner</h4>
			</div>
			<div class="skill">
				<span style="width:75%;" data-aos="zoom-out-right"></span>
			</div>	
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>JavaScript</p></div>	
			<div class="skillword" data-aos="fade-left">
				<h4>Intermediate</h4>
			</div>
			<div class="skill">
				<span style="width:85%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>JQuery</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Intermediate</h4>
			</div>
			<div class="skill">
				<span style="width:85%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>Ruby</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Intermediate</h4>
			</div>
			<div class="skill">
				<span style="width:85%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>Ruby On Rails</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Intermediate</h4>
			</div>
			<div class="skill">
				<span style="width:85%;" data-aos="zoom-out-right"></span>
			</div>	
		</div>
		<br>
		<div class="langlist">
			<div class="skill_name" data-aos="fade-right"><p>GitHub</p></div>
			<div class="skillword" data-aos="fade-left">
				<h4>Advanced</h4>
			</div>
			<div class="skill">
				<span style="width:90%;" data-aos="zoom-out-right"></span>
			</div>
		</div>
	</div>
</div>