<br>
<br>
<br>	
<div id="maintitle" data-aos="fade-left">
	<h1 id="titlename">Carson Hamilton</h1>
</div>
<div id="resumetitle" data-aos="fade-down">
	<h2 id="reactres">Junior Web Developer</h2>
</div>
<div id="instructions" data-aos="slide-up"">
	<h2 id="scrolldown">Scroll down or use the down arrow key to navigate</h2>
	<p id="arrow">&#10507;</p>
</div>