<br>
<br>
<br>
<br>
<div id="jobboondocks" data-aos="fade-down-right">
	<div id="boondockstitle">
		<h3>Boondocks Food & Fun</h3>
		<h4>2015-Current</h4>
	</div>
	<div id="boondockdes">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quas, consequuntur. Ab neque, ipsam nesciunt eaque. Consequatur, facilis magnam ipsa amet necessitatibus! Quasi ipsa voluptatibus quidem animi reiciendis, consectetur aspernatur?</p>
	</div>
</div>
<br>
<br>
<div id="jobrush" data-aos="fade-up-left">
	<div id="rushdes">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat, laboriosam, voluptates, dolorum libero consequatur harum nemo esse quidem culpa velit quo recusandae error corrupti sint necessitatibus optio distinctio aspernatur.</p>
	</div>
	<div id="rushtitle">
		<h3>The Rush Funplex</h3>
		<h4>2013-2015</h4>
	</div>
</div>