/*colors #c5c1c0 grey #1a2930 blue #f7ce3e yellow #0a1612 black*/
body{
	position: relative;
	height: 100%;
	font-family: Georgia, serif;
}	
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainparallax{
    background-image: url("/assets/main.jpg");
}
#aboutparallax{
    background-image: url("/assets/aboutme.jpg");
}
#workparallax{
	background-image: url("/assets/work.jpg")
}
#expparallax{
	background-image: url("/assets/experience.jpg")
}
#portparallax{
    background-image: url("/assets/port.jpg");
}
#eduparallax{
    background-image: url("/assets/education.jpg");	
}
#contactparallax{
    background-color:#1a2930;
}
.main{
	height:730px;
}
.about{
	height:730px;
}
.workexp{
	height: 730px;
}
.experience{
	height: 730px;
}
.portfolio{
	height: 730px;
}
.education{
	height: 730px;
}
.contact{
	height: 730px;
}
.resumenav{
	position: fixed;
	width: 815px;
	margin-left: 232px;
	z-index: 500;
}
.buttons{
	width: 125px;
	height: 50px;
	outline: none;
	border: none;
	text-align: center;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.75s;
	background-color: #f7ce3e;
}
.buttons:hover{
	background-color: #1a2930;
	border-radius: 5px;
	color: white;
}
.custscrollspy{
	background-color: #1a2930;
	border-radius: 5px;
	color: white;
}
/*******************************mainpage******************************************/
#maintitle{
	width: 60%;
	text-align: center;
	margin-left: 250px;
	margin-top: 215px;
}
#titlename{
	font-size: 75px;
	color: white;
}
#resumetitle{
	margin-left: 490px;
}
#reactres{
	color: white;
}
#instruction{
	text-align: center;
}
#scrolldown{
	color: white;
	text-align: center;
	margin-top: 130px;
}
#arrow{
	color:white;
	font-size: 35px;
	text-align: center;
}
/**********************************aboutpage***************************************/
#amname{
	height: 200px;
	background-color:#1a2930;
	width: 40%;
	float: left;
}
#amjob{
	background-color: #1a2930;
	height: 200px;
	width: 40%;
	float: right;

}
#amhobby{
	background-color: #1a2930;
	height: 200px;
	width: 40%;

}
#namepic{
	width: 100%;
	height: 25%;
	padding-left: 75px;
	color: white;
}
#jobsearch{
	width: 100%;
	height: 25%;
	padding-right: 75px;
	color: white;
}
#hobbypic{
	width: 100%
	height: 25%;
	padding-left: 75px;
	color: white;
}
.amwrap{
	margin-top: 50px;
	height: 650px;
}
/**************************************workexperience******************************/
#rushtitle{
	background-color:#f7ce3e ;
	width: 175px;
	height: 175px;
	border-radius: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
	margin-left: 40px;
}
#boondockstitle{
	background-color:#f7ce3e ;
	width: 175px;
	height: 175px;
	border-radius: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
	margin-right: 40px; 
}
#jobboondocks{
	width: 60%;
	height: 20%;
	margin-left: 250px;
	margin-top: 102px;
}
#jobrush{
	width: 60%;
	height: 20%;
	margin-left: 425px;
}
#rushdes{
	width: 55%;
	height: 175px;
	background-color: #c5c1c0;
	float:left;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
}
#boondockdes{
	width: 55%;
	height: 175px;
	background-color: #c5c1c0;
	float:left;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
}
/*************************************Experience***********************************/
#languages{
	background-color:rgba(247, 206, 62, .7);
	width: 85%;
	height: 600px;
	float: left;
	margin-left: 100px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.langlist{
	color:#1a2930;
	font-size: 25px;
	height: 29px;
	margin-top:20px;
}
.skill_name{
	width: 20%;
	margin-bottom: -10px;
	margin-top: 17px;
}
.skill{
	width:85%;
	height: 25px;
	border-radius: 10px;
	background-color: #c5c1c0;
	float: left;
	margin-top: 2px;
}
.skill > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #1a2930;position: relative;
    overflow: hidden;
}
.skillword{
	float:right;
}
/*************************************Portfolio************************************/
#projects{
	width: 75%;
	height: 325px;
	margin-left: 160px;
	background-color:rgba(247, 206, 62, .4);
	margin-top: 50px;
	border-radius: 10px;
}
#finalgroup{
	width: 45%;
	height: 275px;
	background-color: white;
	float: left;
	margin-top: 25px;
	margin-left: 35px;
}
#groupblog{
	width: 45%;
	height: 275px;
	background-color: white;
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}
#devcloudpic{
	width: 100%;
	height: 275px;
}
#chefpic{
	width:100%;
	height: 275px;
}
#projdes{
	width: 80%;
	height: 125px;
	background-color: #1a2930;
	margin-top: 90px;
	margin-left: 127px;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	color: white;
}
/*************************************Education************************************/
#eduwrap{
	text-align: center;
	width: 100%;
}
#nycda{
	background-color:#1a2930;
	color: #c5c1c0;
	width: 50%;
	text-align: center;
	margin-left: 5%;
	height: 125px;
}
#college{
	background-color:#1a2930;
	color: #c5c1c0;
	width: 50%;
	text-align: center;
	margin-left: 25%;
	height: 125px;
}
#highschool{
	background-color:#1a2930;
	color: #c5c1c0;
	width: 50%;
	text-align: center;
	margin-left: 45%; 
	height: 125px;
}
.dates{
	margin-top: -8px;
}
/*************************************Contact**************************************/
.contactinfo{
	width: 45%;
	height: 600px;
	background-color:rgba(247, 206, 62, .8); 
	float:left;
	margin-top: 25px;
	margin-left: 40px;
	border-radius: 10%;
}
#contactform{
	margin-top: 25px;
	width: 80%;
	margin-left: 110px;
	color: white;
}
#email{
	margin-top: 10px;
	width: 75%;
	background-color:#1a2930;
	color: white;
	border-radius: 10px;
	border-color: #1a2930;
	outline: none;
	text-align: center;
}
#subject{
	margin-top: 10px;
	width: 75%;
	background-color:#1a2930;
	border-color: #1a2930;
	outline: none;
	border-radius: 10px;
	text-align: center;

}
#emailbody{
	margin-top: 10px;
	width: 75%;
	height: 175px;
	background-color:#1a2930;
	color: white;
	border-color: #1a2930;
	outline: none;
	border-radius: 10px;
}
#subbttn{
	margin-top: 10px;
	width: 200px;
	height: 50px;
	background-color:#1a2930;
	margin-left: 75px;
	border-radius: 10px;
	border-color: #1a2930;
}
#subbttn:hover{
	background-color:#c5c1c0;
	color: black; 
}
#contacttitle{
	color: #0a1612;
	margin-left: 100px;
	margin-top: 50px;
	font-size: 45px;
}
#links{
	font-size: 20px;
	margin-top: 35px;
}
#cmtitle{
	margin-left: 200px;
	width: 200px;
}
#cmline{
	border-bottom: 2px solid black;
	width: 350px;
	height:2px;
	margin-left: 100px;
}
